Dashboard(node-red).json
[
    {
        "id": "c851b741645cbaeb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "28c7a5b15f685925",
        "type": "mqtt in",
        "z": "c851b741645cbaeb",
        "name": "",
        "topic": "65010790",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fe81548197d663e5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "6a4b5c34eb9f8540",
                "767b4021a922425f",
                "5c8f2200720f0631"
            ]
        ]
    },
    {
        "id": "6a4b5c34eb9f8540",
        "type": "function",
        "z": "c851b741645cbaeb",
        "name": "function 1",
        "func": "var input = msg.payload;\nmsg.payload = input.temp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 180,
        "wires": [
            [
                "6b8f739e6d608a65",
                "e6b7e95e39f029a9",
                "ff4ad3b15d4796ca"
            ]
        ]
    },
    {
        "id": "767b4021a922425f",
        "type": "function",
        "z": "c851b741645cbaeb",
        "name": "function 2",
        "func": "var input = msg.payload;\nmsg.payload = input.hum;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 280,
        "wires": [
            [
                "a31b2dbb3aa9c34c",
                "6bae196040875beb",
                "3d63857fae86947e"
            ]
        ]
    },
    {
        "id": "6b8f739e6d608a65",
        "type": "debug",
        "z": "c851b741645cbaeb",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "a31b2dbb3aa9c34c",
        "type": "debug",
        "z": "c851b741645cbaeb",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "e6b7e95e39f029a9",
        "type": "ui_gauge",
        "z": "c851b741645cbaeb",
        "name": "",
        "group": "43653a480d93aafd",
        "order": 1,
        "width": 8,
        "height": 4,
        "gtype": "gage",
        "title": "Temparature",
        "label": "°C",
        "format": "{{value|number:2}}",
        "min": "-40",
        "max": "125",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "6bae196040875beb",
        "type": "ui_gauge",
        "z": "c851b741645cbaeb",
        "name": "",
        "group": "43653a480d93aafd",
        "order": 2,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value|number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#028af2",
            "#05fffb",
            "#00d4f0"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "3d63857fae86947e",
        "type": "ui_chart",
        "z": "c851b741645cbaeb",
        "name": "",
        "group": "43653a480d93aafd",
        "order": 4,
        "width": 7,
        "height": 4,
        "label": "Graphumidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "ff4ad3b15d4796ca",
        "type": "ui_chart",
        "z": "c851b741645cbaeb",
        "name": "",
        "group": "43653a480d93aafd",
        "order": 3,
        "width": 8,
        "height": 4,
        "label": "GraphTemparature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "5c8f2200720f0631",
        "type": "function",
        "z": "c851b741645cbaeb",
        "name": "function 3",
        "func": "var input = msg.payload;\nmsg.payload = input.location;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 400,
        "wires": [
            [
                "353ba23ad7dee9c2",
                "10e61b54e65c12af"
            ]
        ]
    },
    {
        "id": "353ba23ad7dee9c2",
        "type": "ui_text",
        "z": "c851b741645cbaeb",
        "group": "43653a480d93aafd",
        "order": 5,
        "width": 15,
        "height": 1,
        "name": "",
        "label": "Location",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "10e61b54e65c12af",
        "type": "debug",
        "z": "c851b741645cbaeb",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 400,
        "wires": []
    },
    {
        "id": "fe81548197d663e5",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "iiot.dynu.com",
        "port": "6688",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "65011070 NodeRed Connected",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "43653a480d93aafd",
        "type": "ui_group",
        "name": "Default",
        "tab": "cc3f5e9f0d9cd7c4",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc3f5e9f0d9cd7c4",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]